<%= form_for(@known_issue_pattern) do |f| %>
  <% if @known_issue_pattern.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@known_issue_pattern.errors.count, "error") %> prohibited this known_issue_pattern from being saved:</h2>

      <ul>
      <% @known_issue_pattern.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
