
<ol class="breadcrumb">
  <li class="active">Statistics</li>
</ol>

<div class="row">
	<div class="col-md-6">
		<h3 class="h-btn-sm-align">Message Counters</h3>
	</div>
  <div class="col-md-6">
		<%= link_to '<span class="glyphicon glyphicon-refresh"></span> Refresh'.html_safe, msg_show_logs_path(:update => 1), :class => "btn btn-primary btn-sm pull-right" %>
	</div>
</div>

<hr class="hr-condensed"/>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th style="width:60px;">Type</th>
      <th style="width:60px;">Count</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
		<% @msg_show_logs.each do |m| %>
			<% color = m.count >= 4000 ? "danger" : (m.count >= 3000 ? "warning" : "") %>
      <tr class="clickable <%= color %>" href="<%= msg_show_log_path(m) %>">
        <td><%= m.msg_type.name %></td>
				<td><%= m.count %></td>
				<td><%= m.message %></td>
      </tr>
		<% end %>
  </tbody>
</table>

<div class="row">
	<%= will_paginate @msg_show_logs,
				:renderer => BootstrapPagination::Rails,
				:class => "pagination-sm pagination-condensed pull-right",
				:previous_label => "<<",
				:next_label => ">>" %>
</div>
