<ol class="breadcrumb">
  <li><a href="<%= msg_show_logs_path %>">Statistics</a></li>
  <li class="active">Details</li>
</ol>

<div class="row">
	<div class="col-md-6">
		<h3 class="h-btn-sm-align">Message Group</h3>
	</div>
</div>
<hr class="hr-condensed"/>
<pre id="msg-group"><%= @msg_show_log.message %></pre>

<br/>

<div class="row">
  <div class="col-md-3 col-md-rcompact">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-9">
						<h4 class="panel-title-btn-sm-align"><span class="glyphicon glyphicon-search"></span>
							&nbsp;Message Details</h4>
					</div>
					<div class="col-md-3 btn-parent">
						<div class="btn-group btn-group-sm pull-right">
							<button id="search-reset" class="btn btn-default btn-danger">Reset</button>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body panel-body-condensed">
				<div class="alert alert-info alert-condensed">
          <small>Hint: Click dots to select timestamps.</small>
					<button type="button" class="close alert-close">&times;</button>
				</div>

				<form role="form">
					<div class="form-group">
						<label for="start">Start Timestamp</label>
            <div class="input-group date datetimepicker input-group-sm" data-date-format="YYYY-MM-DDThh:mm:ssZ">
							<input type="text" class="form-control" id="start-ts">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="start">End Timestamp</label>
            <div class="input-group date datetimepicker input-group-sm" data-date-format="YYYY-MM-DDThh:mm:ssZ">
							<input type="text" class="form-control" id="end-ts">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
					<button id="search-go" class="btn btn-primary btn-block">Go!</button>
				</form>
				
			</div>
		</div>
	</div>
  <div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6">
						<h4 class="panel-title-btn-sm-align"><span class="glyphicon glyphicon-stats"></span>
							&nbsp;Trend</h4>
					</div>
					<div class="col-md-6 btn-parent">
						<div class="btn-group btn-group-sm pull-right">
							<button id="cancel_refresh" class="btn btn-default"><span class="glyphicon glyphicon-stop"></span></button>
							<button id="start_refresh" class="btn btn-default disabled"><span class="glyphicon glyphicon-play"></span></button>
							<button id="refresh" class="btn btn-default disabled"><span class="glyphicon glyphicon-refresh"></span></button>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="center-block" id="chart" data-count="<%= @msg_show_log.msg_show_log_histories.map { |h| h.count }.join(",") %>" datax="<%= @msg_show_log.msg_show_log_histories.map { |h| h.collected_at.localtime.strftime("%FT%T%:z") }.sort.join(",") %>" data-refresh-url="<%= msg_show_logs_ajax_get_increment_path %>">
							
				</div>
			</div>
		</div>
	</div>
</div>

<br/>

<div class="modal fade" id="details-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close h4-align" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Message Details</h4>
      </div>
      <div class="modal-body">
				<div class="alert alert-info alert-condensed">
          <small>Hint: Click the rows the see full message.</small>
					<button type="button" class="close alert-close">&times;</button>
				</div>
        <div class="row">
          <div class="col-md-4">
						<div id="msg-logs-filter" class="input-group input-group-sm" style="margin-top: 4px;">
							<span class="input-group-addon glyphicon glyphicon-search" style="top: 0px;"></span>
							<input type="text" class="form-control" id="filter-content" placeholder="Filter results ...">
							<span class="input-group-btn">
								<button class="btn btn-default" id="filter-go" type="button">Go!</button>
								<button class="btn btn-default" id="filter-advanced" type="button"><span class="glyphicon glyphicon-wrench"></span></button>
							</span>
						</div>
					</div>
					<div class="pagination-container col-md-8">
						<ul class="pagination pagination-sm pagination-condensed pull-right">
							
						</ul>
					</div>
				</div>

        <br/>

        <div class="panel panel-primary hidden" id="filter-advanced">
          <div class="panel-heading">
						<button type="button" class="close panel-close h4-align">&times;</button>
						<h4 class="panel-title"><span class="glyphicon glyphicon-search"></span>&nbsp;Advanced Search</h4>
					</div>
          <div class="panel-body">
            <div class="form">
							<div class="form-group">
								<label for="" class="control-label">MSID Range</label>
								<div class="row">
                  <div class="col-md-6 col-md-rcompact-5">
                    <div class="input-group">
                      <span class="input-group-addon">From</span>
											<input class="form-control" type="text" name="msid-from" value=""/>
										</div>
									</div>
                  <div class="col-md-6 col-md-lcompact-5">
										<div class="input-group">
                      <span class="input-group-addon">To</span>
											<input class="form-control" type="text" name="msid-to" value=""/>
										</div>
									</div>
                </div>
							</div>
							<div class="form-group">
								<label for="" class="control-label">IMSI Range</label>
								<div class="row">
                  <div class="col-md-6 col-md-rcompact-5">
                    <div class="input-group">
                      <span class="input-group-addon">From</span>
											<input class="form-control" type="text" name="imsi-from" value=""/>
										</div>
									</div>
                  <div class="col-md-6 col-md-lcompact-5">
										<div class="input-group">
                      <span class="input-group-addon">To</span>
											<input class="form-control" type="text" name="imsi-to" value=""/>
										</div>
									</div>
                </div>
							</div>
							<button id="filter-advanced-go" class="btn btn-success btn-block">Go!</button>
						</div>
					</div>
				</div>

				<table class="table table-condensed table-bordered table-hover" id="tbl-msg-details">
					<thead>
						<tr>
							<th>#</th>
							<th>Type</th>
							<th>Timestamp</th>
              <th>MSID</th>
              <th>IMSI</th>
							<th>Last Event</th>
							<th>Last TCs</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

