<!DOCTYPE html>
<html>
<head>
  <title>Mockup</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= welcomes_path %>">Dallas</a>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class='dropdown-toggle' data-toggle="dropdown">
						Configuration
						<span class="caret"></span>
					</a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Mobile', 'http://10.121.122.71:4567/mobile' %></li>
						<li><%= link_to 'Traffic Disturbance', '#' %></li>
						<li><%= link_to 'System', '#' %></li>
						<li><%= link_to 'Traffic Model', '#' %></li>
						<li><%= link_to 'Environment', '#' %></li>
						<li><%= link_to 'GSM Radio Access Network', '#' %></li>
						<li><%= link_to 'WCDMA Radio Access Network', '#' %></li>
						<li><%= link_to 'MME Core Network', '#' %></li>
						<li><%= link_to 'SGSN Core Network', '#' %></li>
						<li><%= link_to 'S4-SGSN Core Network', '#' %></li>
						<li><%= link_to 'SGW Core Network', '#' %></li>
						<li><%= link_to 'S2A TWAN Network', '#' %></li>
						<li><%= link_to 'MAG Non-3GPP Network', '#' %></li>
						<li><%= link_to 'EMBMS EPG Network', '#' %></li>
						<li><%= link_to 'PCRF', '#' %></li>
						<li><%= link_to 'ICAP', '#' %></li>
						<li><%= link_to 'Backbone Network', '#' %></li>
						<li><%= link_to 'PCRF', '#' %></li>
          </ul>
				</li>
        <li><%= link_to 'Monitoring', msg_show_logs_path %></li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
	<%= yield %>

	<hr/>

	<div class="pull-right">
		<p>Copyright</p>
	</div>
	
</div>

</body>
</html>
